*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $font-family;
    line-height: normal;
    font-weight: $font-medium;
    color: $black;
    background: #fff;
    text-decoration: none;
    padding-top: 125px;
    transition: all ease 0.5s;

    @media screen and (max-width:1399px) {
      padding-top: 100px;
    }


}
.container{
    width: 100%;
    max-width: 1310px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}