/*-----------color---------*/
$primary:#24ab70; 
$secondary :#f4fbf8;
$dark-green: #24ab700a;
$white:#ffff;
$dark-white: #e8e8e8;
$black:#000;
$dark-black: #222222;
$gray: #555555;

/*--------------font-size------*/ 
$x-large:64px;
$large:40px;
$medium:36px;
$x-medium:24px;
$x-small:20px;
$small:16px;
$small-x:12px;
/*--------------font-weight------*/ 
$font-light:300;
$font-reguler:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-extrabold:800;
/*---------font-family------*/
$font-family:'Open Sans'; 

/*-------------Media variabels-------------*/ 
$xxl:1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm:576px;
$xs: 320px;

