#discover {
    width: 100%;
    background: $white;
    margin-bottom: 120px;

    @media screen and (max-width:1399px) {
        margin-bottom: 100px;
    }

    @media screen and (max-width:1199px) {
        margin-bottom: 85px;
    }

    .discover-main {
        width: 100%;
        background: $secondary;
        border-radius: 16px;

        .discover-img {
            width: 50%;
        }

        .discover-content {
            width: 50%;
            padding: 76px 70px 76px 70px;

            @media screen and (max-width:1199px) {
                padding: 30px 35px;
            }

            h2 {
                padding-bottom: 20px;

            }

            p {
                margin-bottom: 24px;

                &:nth-last-child(2) {
                    margin-bottom: 0;
                }
            }

            a {
                background: $primary;
                border-radius: 35px;
                font-weight: $font-semibold;
                color: $white;
                line-height: 24px;
                padding: 16px 32px;
                margin-top: 50px;
                transition: all ease 0.5s;
                border: 2px solid $primary;
                @media screen and (max-width:1199px) {
                  font-size: 15px;
                  padding: 11px 24px;
                  }

                &:hover {
                    transition: all ease 0.5s;
                    background: transparent;
                    border: 2px solid $primary;
                    color: $black;
                }
            }
        }
    }

}